<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar acceso</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <img class="app-login__logo" src="../../assets/card.JPG">
  </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-list>
              <form>
                  <!-- Correo -->
                  <ion-item lines="none" class="app-inputs" color="background">
                    <ion-input placeholder="correo" type="text"></ion-input>
                  </ion-item>
                  <!-- Button -->
                  <ion-button class="button-login"  color="primary" size="block" (click)="recuperar()">
                    Recuperar acceso
                  </ion-button>
              </form>
            </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
