
<ion-content>
  <ion-row>
    <img class="app-login__logo" src="../../assets/card.JPG">
  </ion-row>
  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-list>
                <!-- correo -->
                <ion-item lines="none" class="app-inputs" color="background">
                  <ion-input placeholder="correo" type="text" [(ngModel)]="correo"></ion-input>
                </ion-item>
                <!-- Password -->
                <ion-item lines="none" class="app-inputs" color="background">
                  <ion-input placeholder="password" type="password" [(ngModel)]="password">
                  </ion-input>
                </ion-item>
                <!-- Button -->
                <ion-button class="button-login"  color="primary" size="block" (click)="ingresar()">
                  Ingresar
                </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-button  class="button-recover" fill="clear" size="block" (click)="registro()">
      Crear cuenta
  </ion-button >
<!--
  <ion-button  class="button-recover" fill="clear" size="block" (click)="recuperarPassword()">
      Recuperar seña
  </ion-button >
-->
</ion-content>
