<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-button (click)="mostrarMenu()" color="primary">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title  text-capitalize>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header>
                    <ion-label>Datos de mi cuenta</ion-label>
                </ion-list-header>
                     <!-- Tipo de cuenta -->

                    <ion-item lines="none" class="app-inputs" color="background">
                      <ion-label>Tipo de cuenta -></ion-label>
                      <ion-input placeholder="Tipo de cuenta" type="text" [(ngModel)]="cuenta" disabled=""></ion-input>
                    </ion-item>
                    <!-- Nombre -->
                    <ion-item lines="none" class="app-inputs" color="background">
                      <ion-input placeholder="nombre y apellido" type="text" [(ngModel)]="nombre"></ion-input>
                    </ion-item>
                  <!-- Correo -->
                    <ion-item lines="none" class="app-inputs" color="background">
                      <ion-input placeholder="correo" type="text" [(ngModel)]="correo" disabled=""></ion-input>
                    </ion-item>
                  <!-- Telefono -->
                    <ion-item lines="none" class="app-inputs" color="background">
                      <ion-input placeholder="telefono" type="tel" [(ngModel)]="telefono"></ion-input>
                    </ion-item>
                  <!-- direccion -->
                    <ion-item lines="none" class="app-inputs" color="background">
                      <ion-input placeholder="direccion" type="text" [(ngModel)]="direccion"></ion-input>
                    </ion-item>
                  <!-- Button -->
                  <ion-button class="button-login"  color="primary" size="block" (click)="actualizar()">
                    Actualizar
                  </ion-button>
            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
