<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-button (click)="mostrarMenu()" color="primary">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title  text-capitalize>Autos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   

  <ion-list>
    <ion-list-header>
      <ion-label>Autos para la reserva</ion-label>
    </ion-list-header>
    <ion-item-sliding  *ngFor="let item of autos">
      <ion-list-header>
        <strong>{{ item.aut_descripcion }}</strong>
        <ion-badge>{{ item.aut_estado }}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/rush.jpg">
        </ion-avatar>
        <ion-label>{{ item.aut_marca }}<strong>/</strong>{{ item.aut_ano }} <strong> costo:</strong>  {{ item.aut_costo_alquiler }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
          <ion-item-option (click)="reservar(item)" *ngIf="!accesoAuto">Reservar</ion-item-option>
          <ion-item-option color="secondary" (click)="editar(item)" >{{ nombreEditarVisualizar}}</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  

</ion-content>

<ion-footer *ngIf="accesoAuto">
  <ion-button color="primary"
              expand="block"
              (click)="agregar()">
              Agregar auto para alquilar
  </ion-button>
</ion-footer>
